.board {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.board h3 {
  margin: 0 0 0.25rem 0;
}
.boarditem {
  display: flex;
  gap: 2rem;
}
.boarditem img {
  width: 150px;
  height: 150px;
}
.description {
  font-weight: bold;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #d68f1c;
  font-size: 1.25rem;
}
